<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Govind Singh</title>
</head>

<body>
    <section class="back">
        <div class="main">
            <div class="sub-main">
                <div class="child">
                    <p>Jaipur,India</p>
                </div>
                <div class="child">
                    <h1>Hello,<br>I'm Govind Singh</h1>
                </div>
                <div class="child">
                    <p>I am an ordinary Engineering enthusiast with objective to know WHAT, WHY & HOW things worked around me.I always have strive to learn new things and solving problems.This strive of explore & learn drive me to the world of Apps and Softwares where I and My laptop together compile imagination to code. </p>
                </div>
                <div class="child"><button><a href="https://www.linkedin.com/in/govind-singh-499554242">Connect</a></button></div>
            </div>
            <div class="sub-main">
                <img src="../images/my.jpg" alt="image">
            </div>
            <br>
            <br>
            <br>
        </div>
<h1 id="skill">Skills</h1>
<br>
<hr class="hr">
        <section id="testimonial">
            <div class="container2">
                <div class="testimonial">
                    <div class="slide-row" id="slide1">
                        <div class="slide-col">
                            <div class="user-text">
                                <div class="user-img">
                                    <img src="../images/first.jpg" alt="image">
                                </div>
                                <h3>Full Stack Web Developement</h3>
                                <p> MERN is open-source Javascript software stack for building dynamic websites and web applications.</p>
                            </div>
                        </div>
                        <div class="slide-col">
                            <div class="user-text">
                                <div class="user-img">
                                    <img src="../images/sec.jpg" alt="image">
                                </div>
                                <h3>Netbeans IDE</h3>
                                <p>Netbeans is an integrated development environment for java.It is used to creating desktop applications with ease.</p>
                            </div>
                        </div>
                        <div class="slide-col">
                            <div class="user-text">
                                <div class="user-img">
                                    <img src="../images/third.png" alt="image">
                                </div>
                                <h3>C/C++, Java, Javascript</h3>
                                <p>I have an intermediate knowledge of thses prograaming languages.I have developed many projects by using above languages. </p>
                            </div>
                        </div>
                        <div class="slide-col">
                            <div class="user-text">
                                <div class="user-img">
                                    <img src="../images/fourth.jpg" alt="image">
                                </div>
                                <h3>Data Structure & Algorithms</h3>
                                <p>I have decent knowledge of DS & Algo which helps me to develop elegant & efficient Code.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="indicator">
                    <button class="btn4 active" id="btn11" onclick="func1();"></button>
                    <button class="btn4" id="btn22" onclick="func2();"></button>
                    <button class="btn4" id="btn33" onclick="func3();"></button>
                    <button class="btn4" id="btn44" onclick="func4();"></button>
                </div>
            </div>
        </section>
<h1 id="skill">Projects</h1>
<br>
<hr class="hr">
        <div class="main">
            <div class="project-img">
                <img src="../images/pro_1.PNG" alt="images">
            </div>
            <div class="project-info">
                <h1>CV Builder & Job Search</h1>
                <p>With this project you create CV from different given templates.I have used React, Express JS, MongoDB & webtoken for users authentication.Registered Users can also apply for jobes post by Company officials.Basically It is like intershala clone & also create CV</p>
                <div class="project-btn">
                    <button><a href="https://www.mern-amazing.herokuapp.com">View Site</a></button>
                    <button><a href="https://www.github.com/govind-6616/mern-amazing">Source Code</a></button>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="project-img">
                <img src="../images/pro_2.PNG" alt="images">
            </div>
            <div class="project-info">
                <h1>Blog App</h1>
                <p>MERNSTACK is used to develop this project.You can upload blogs after having authentication with different categories and follow your favorite Author,You can Update and Delete your blogs easily.</p>
                <div class="project-btn">
                    <button><a href="https://www.blog-corner.herokuapp.com">View Site</a></button>
                    <button><a href="https://www.github.com/govind-6616/BlogProject">Source Code</a></button>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="project-img">
                <img src="../images/pro_3.PNG" alt="images">
            </div>
            <div class="project-info">
                <h1>Realtime CRUD App</h1>
                <p>This project Includes React, Express & MongoDB where you can insert student's information & easily apply the CRUD(Create, Read, Update, Delete) Operations. </p>
                <div class="project-btn">
                    <button><a href="#">View Site</a></button>
                    <button><a href="https://www.github.com/govind-6616/crud">Source Code</a></button>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="project-img">
                <img src="../images/pro_4.PNG" alt="images">
            </div>
            <div class="project-info">
                <h1>Grade Calculator</h1>
                <p>This web app uses HTML, CSS and Javascript.In this project we insert marks of students on basis of these marks it will give desired grades.</p>
                <div class="project-btn">
                    <button><a href="https://www.grade-calculator.w3spaces.com">View Site</a></button>
                    <button><a href="https://www.github.com/govind-6616/Grade_Calc">Source Code</a></button>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="project-img">
                <img src="../images/pro_5.PNG" alt="images">
            </div>
            <div class="project-info">
                <h1>Landing Page</h1>
                <p>With the help of CSS I create this beautiful page you can switch to different themes on selecting respective theme image.</p>
                <div class="project-btn">
                    <button><a href="#">View Site</a></button>
                    <button><a href="https://www.github.com/govind-6616/Image_Slider">Source Code</a></button>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="project-img">
                <img src="../images/pro_6.PNG" alt="images">
            </div>
            <div class="project-info">
                <h1>To do App</h1>
                <p>This app is create with HTML, CSS & Javascript.It stores user Todo's in browser local Storage.After completing your Todo's you can mark them done as well as delete them.</p>
                <div class="project-btn">
                    <button><a href="#">View Site</a></button>
                    <button><a href="https://www.github.com/govind-6616/Todo_App">Source Code</a></button>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="project-img">
                <img src="../images/pro_7.jpg" alt="images">
            </div>
            <div class="project-info">
                <h1>Mobile Store Management Software</h1>
                <p>It is developed in Java Netbeans IDE and MYSQL is used as Database for this project.You can Manage the stock of mobile phones, Generate Automatic Bills, & also used to maintain record of repaired items,selling different accessories etc. </p>
                <div class="project-btn">
                    <button><a href="#">View Site</a></button>
                    <button><a href="https://www.github.com/govind-6616/java_project">Source Code</a></button>
                </div>
            </div>
        </div>
        <h1 id="skill">Contact</h1>
        <hr class="hr">
        <div class="form">
            <form method="post" action="https://formspree.io/f/xqknoekk">
                <input class="form-control" type="text" name="name" placeholder="Name" required/>
                <input class="form-control" type="text" name="email" placeholder="Email" required/>
                <input class="form-control" type="text" name="mobile" placeholder="Mobile Number" required/>
               <textarea type="text" class="form-control" rows="5" name="message" placeholder="Message"></textarea required>
               <button type="submit" class="form-button">Send</button>
            </form>
        </div>
     
        <hr class="hr">
        <footer class="footer">
            <div>
            <i class="fa fa-google"><a href="https://www.mail.google.com">mail</a></i>
        <i class="fa fa-linkedin"><a href="https://www.linkedin.com/in/govind-singh-499554242">Linkedin</a></i>
            <i class="fa fa-github"><a href="https://www.github.com/govind-6616">github</a></i>
            <i class="fa fa-whatsapp fa-lg"><a href="https://wa.me/+918890801145">Whatsapp</a></i>
        </div>
        <div class="last">
            <p>Design & Developed By <i>Govind Singh</i></p>
        </div>
           
        </footer>
    </section>
    <script>
        var slide = document.getElementById('slide1');
        var btn = document.getElementsByClassName('btn4');
        btn[0].onclick = function () {
            slide.style.transform = "translateY(0px)";
            for (i = 0; i < 4; i++) {
                btn[i].classList.remove("active");
            }
            this.classList.add("active");
        };
        btn[1].onclick = function () {
            slide.style.transform = "translateY(-400px)";
            for (i = 0; i < 4; i++) {
                btn[i].classList.remove("active");
            }
            this.classList.add("active");
        };
        btn[2].onclick = function () {
            slide.style.transform = "translateY(-800px)";
            for (i = 0; i < 4; i++) {
                btn[i].classList.remove("active");
            }
            this.classList.add("active");
        };
        btn[3].onclick = function () {
            slide.style.transform = "translateY(-1200px)";
            for (i = 0; i < 4; i++) {
                btn[i].classList.remove("active");
            }
            this.classList.add("active");
        };
    </script>
</body>

</html>